<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%extends 'devindex.html'%}
{%load static%}
{%block content%}
<div class="row">
  <div class=" ml-5 " style="font-size: 20px;font-weight: 600;margin-left:40px;opacity: 0.9;color: #ffffff;">REPORTED ISSUES</div></div>
    <br>


  
    <div class="row mt-3">
     
      <!-- <div class="col-md-2"></div> -->
      <div class="col-md-10">
       

      <div id="" class="container shadow mt-3  " style="border-radius:20px;margin-left: 20px;background-color: #191c24; ">
     <div class="row p-3">
     <div class=""  >
        <img src="{% static 'img/y.png'%}" width="30" height="25" ><span class="" style="color: #6c7293; font-size: 20px;font-weight: 400;padding-left: 20px;">issue reported by shajeer vu</div>
             </div>
            <!-- <div class="row">
                <div class="ml-5 " style="opacity:0.8;font-size: 17px;font-weight: 00;color: #6c7293;"> test</div>
            </div>
            
      </div> -->
      <div class="card">
        <div class="card-body">
          <textarea class="form-control" id="exampleTextarea1" rows="5" style="color: #6c7293; font-size: 20px;font-weight: 400;border: solid 1px #6c7293;">test</textarea>
        </div>
      </div>       
    </div>
  </div>
  <div class="col-md-10">
 
  <div id="" class="container shadow mt-3  " style="border-radius:20px;margin-left: 20px; background-color: #191c24;">
    <div class="row p-3">
    <div class="col-md-9" ></div>
    <div class="col-md-3">

    
        <span class=""style="color: #6c7293; font-size: 20px;font-weight: 400;padding-right: 10px;"> action taken</span><img src="{% static 'img/y.png'%}" width="30" height="25" >
       
        <!-- <img src="{% static 'img/y.png'%}" width="70" height="50" ><span class="" style="opacity:0.8;font-size: 20px;font-weight: 600;">action taken</div> -->
            </div>
            <div class="card">
                <div class="card-body">
                  <textarea class="form-control" id="exampleTextarea1" rows="5" style="color: #6c7293; font-size: 20px;font-weight: 400;border: solid 1px #6c7293;"></textarea>
                </div>
                </div>
              
              
         
     </div>
     </div>
     
     </div>
     
     
      
  
  </main>

</body>
</html>
{%endblock%}